<div class="container-fluid px-4 mt-5">

    <!-- Page Heading -->
    <div class="card bg-light mb-3">
        <div class="card-header text-center">
            <h1 class="mt-4">MANTENIMIENTO DE CARGOS</h1>
        </div>
        <div class="card-body">

            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Codigo</th>
                        <th>Id Estado</th>
                        <th>Nombre</th>
                        <th>Acciones</th>
                        <th>
                            <button class="btn btn-primary btn-sm">
                                A
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cargo of cargos">
                        <td> {{cargo.id}} </td>
                        <td> {{cargo.codigo}} </td>
                        <td> {{cargo.nombre}} </td>
                        <td> {{cargo.idEstado}} </td>
                        <td>
                            <button class="btn btn-primary btn-sm">
                                E
                            </button>
                            <button class="btn btn-primary btn-sm">
                                D
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>    
    </div>

</div>