<!-- 
<div class="card bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header">INICIAR SESION</div>
  <div class="card-body">
    <div class="form-group">
      <label for="">USUARIO : </label>
      <input class="form-control input-backgroung" type="text" [(ngModel)]="usuario">
    </div>
    <div class="form-group">
      <label for="">PASSWORD : </label>
      <input class="form-control input-backgroung" type="text" [(ngModel)]="password">
    </div>
    <div class="form-group mt-4">
    <button class="btn btn-sm btn-primary" (click)="iniciarSesion()">
      INICIAR SESION
    </button>
    </div>
  </div>
</div> -->


<!-- <h1 > Proyecto: Eiby Moda</h1>
<br>
<label for="">Nombre Proyecto JS |||| </label>
{{title}}

<br><br><br><br>

<ul *ngFor="let rol of roles">
  <li> ID: {{rol.id}} | Name: {{rol.name}} </li>
</ul>

<br>
<h1>NOMBRE DE USUARIO </h1>
<input type="text" [(ngModel)]="nombreUsuario" > <br>
<label for="">{{nombreUsuario}} </label> -->

<!-- <br><br>

<label for="">ID </label><input type="text" [(ngModel)]="cargoRequest.id"><br><br>
<label for="">Codigo </label><input type="text" [(ngModel)]="cargoRequest.codigo"><br><br>  
<label for="">Nombre </label><input type="text" [(ngModel)]="cargoRequest.nombre"><br><br>
<label for="">Estado</label>
<select [(ngModel)]="cargoRequest.idEstado">
  <option value="false">false</option>
  <option value="true">true</option>
</select>

<br><br>


<br><br><br><br>


<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th > Id </th>
      <th > Codigo</th>
      <th > Nombre </th>
      <th > Estado </th>
      <th >
        <button (click)="crearCargo()" >AGREGAR</button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cargo of cargos">
      <td > {{cargo.id}} </td>
      <td > {{cargo.codigo}} </td>
      <td > {{cargo.nombre}} </td>
      <td > {{cargo.idEstado}} </td>
      <td >
        <button (click)="rellenarValores(cargo)" style="background-color: cadetblue;" >SELECC...</button>
        <button (click)="eliminarRegistro(cargo.id)" style="background-color: brown;" >ELIMINAR</button>
      </td>
    </tr>
  </tbody>
  

</table> -->

<router-outlet></router-outlet>