<h1>LOGIN</h1>
<br>
<label for="">USUARIO : </label> <input type="text" [(ngModel)]="usuario">

<br><br>
<label for="">PASSWORD : </label> <input type="text" [(ngModel)]="password">

<br><br>
<button (click)="iniciarSesion()">
  INICIAR SESION
</button>


<!-- <h1 > Proyecto: Eiby Moda</h1>
<br>
<label for="">Nombre Proyecto JS |||| </label>
{{title}}

<br><br><br><br>

<ul *ngFor="let rol of roles">
  <li> ID: {{rol.id}} | Name: {{rol.name}} </li>
</ul>

<br>
<h1>NOMBRE DE USUARIO </h1>
<input type="text" [(ngModel)]="nombreUsuario" > <br>
<label for="">{{nombreUsuario}} </label> -->

<br><br><br><br>

<table>
  <thead>
    <tr>
      <th > Id </th>
      <th > Codigo</th>
      <th > Nombre </th>
      <th > Estado </th>
      <th >
        <button>AGREGAR</button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cargo of cargos">
      <td > {{cargo.id}} </td>
      <td > {{cargo.codigo}} </td>
      <td > {{cargo.nombre}} </td>
      <td > {{cargo.idEstado}} </td>
      <td >
        <button>AGREGAR</button>
        <button>ACTUALIZAR</button>
      </td>
    </tr>
  </tbody>
  

</table>

<router-outlet></router-outlet>